<div class="card shadow p-0 mb-5 bg-white rounded">
  <p class="card-header text-right" style="font-size: 1vw; padding: auto"><small class="text-muted">{{getFormat()}}</small></p>
  <img class="card-img-top img-fluid" style="padding: auto; max-width:100%; width: 100%; height: auto;" src={{itemProgram.image}} alt="...">
  <div class="card-body" style="padding: auto;">
    <h5 class="card-title text-center" style="font-size: 2vw; padding: auto;">{{itemProgram.name}}</h5>
    <p class="card-text pv-archiveText" style="font-size: 1vw; padding: auto;">{{itemProgram.detail}}</p>
  </div>
  <div class="card-footer" style="padding: auto">
    <div [attr.data-mixcloud-play-button]=url>
      <img class="img-fluid" style="display: block; margin: auto;" src="assets/img/play.png" alt="...">
    <div>
  </div>
</div>
